{% extends 'base.html' %}

{% block title %}Shopping cart{% endblock %}

{% block content %}
<div class="card shadow-custom border-0 col-lg-10 mx-auto mb-3">
  <h3 class="py-2 font-weight-bold text-grey text-center">
    Your order:
  </h3>
  <div class="row justify-content-center py-2 text-center header-desc">
    <div class="col-lg-2 align-self-center">
      Product
    </div>
    <div class="col-lg-2 align-self-center">
      Description
    </div>
    <div class="col-lg-2 align-self-center">
      Availability
    </div>
    <div class="col-lg-1 align-self-center">
      Price
    </div>
    <div class="col-lg-2 align-self-center">
      Quantity
    </div>
    <div class="col-lg-3 align-self-center">
      Total price
    </div>
  </div>
  <hr class="mt-0">
    {% for item in cart %}
    {% with product=item.product %}
      <div class="row justify-content-center cart">
        <div class="cart-item col-4 col-lg-2">
          <a href="{{ product.get_absolute_url }}">
            <img src="{{ product.image.url }}" alt=""
              class="img-fluid rounded-0">
          </a>
        </div>
      <div class="cart-item product-name col-12
        col-lg-2 align-self-center text-center">
        {{ product.name }}
      </div>
      <div class="cart-item col-12 col-lg-2 align-self-center">
      {% if product.available %}
          <div class="text-green mb-0 text-center">
          Available
        </div>
      {% else %}
        <div class="text-danger mb-0 text-center">
          Currently unavailable
        </div>
      {% endif %}
      </div>
          <div class="cart-item col-12 col-sm-3 col-lg-1 align-self-center text-center">
              <span>${{ product.price }}</span>
          </div>
          <div class="cart-item col-6 col-sm-5 col-lg-2 align-self-center">
              <form>
                <span class="input-group shopping-cart">
                 <input type="number" value="1" class="form-control text-center px-3">
                 <input type="hidden" name="overwrite_qty" value="True">
                 <div class="input-group-append">
                   <button type="submit" class="btn text-white" data-toggle="tooltip" data-placement="top" title="Update">
                   <i class="fas fa-edit"></i>
            </button>
        </div>
    </span>
              </form>
          </div>
          <div class="cart-item col-12 col-sm-3 col-lg-2 align-self-center text-right">
              <span>${{ item.total_price }}</span>
          </div>
          <div class="cart-item col-12 col-lg-1 text-right align-self-center">
              <form>
                  <button type="submit" class="btn" data-toggle="tooltip"
                          data-placement="top" title="Remove">
                      <i class="fas fa-trash-alt"></i>
                  </button>
              </form>
          </div>
      </div>
    {% endwith %}
  {% empty %}
<div class="align-self-center">
    <span class="text-center font-weight-bold text-muted lead">
        Your shopping cart is empty.
    </span>
</div>
 {% endfor %}
<hr>
<div class="total-price-cart">
 <h4 class="row justify-content-center">
  <div class="col-5 col-lg-9 text-right text-grey">
    Total price:
  </div>
  <div class="col-5 col-lg-2 text-right text-danger">
    ${{ cart_total_price|floatformat:2 }}
  </div>
  <div class="col-2 col-lg-1">
  </div>
 </h4>
</div>
</div>
<hr>
<div class="col-lg-10 mx-auto mb-5">
 <div class="row justify-content-end">
  <div class="col-lg-6 px-0">
   <div class="btn-group d-flex">
    <a href="{% url 'listings:product_list' %}" class="btn btn-warning shadow-custom col">
        Back to shop
    </a>
    <a href="" class="btn btn-danger shadow-custom col">
    Checkout
    </a>
    </div>
   </div>
  </div>
</div>
{% endblock content %}
