{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div class="card shadow-custom border-0 col-lg-8 mx-auto">
    <div class="row justify-content-center">
     <div class="col-lg-6">
      <img src="{{ product.image.url }}" alt="" class="img-fluid rounded-0">
    </div>
    <div class="col-lg-6">
     <div class="top">
      <h2 class="mt-4 font-weight-bold text-grey">
        {{ product.name }}
      </h2>
      <div>
        <span class="font-weight-bold text-grey">
        Hotness:
        </span> {{ product.shu }} SHU
      </div>
     <div>
        <span class="font-weight-bold text-grey">
        Volume:
        </span> 100ml
     </div>
    </div>
        <div class="mt-3">
        {{ product.description }}
        </div>
    {% if product.available %}
    <div class="alert alert-success my-3 text-center">
        Available
    </div>
    {% else %}
    <div class="alert alert-danger my-3 text-center">
        Currently unavailable
    </div>
    {% endif %}
    <hr>
    <div class="review">
     <span class="font-weight-bold text-grey">
     Average rating: 4.5/5.0
     </span>
    <div class="mb-3 font-weight-bold">
        <a href="" class="text-warning" data-toggle="modal" data-target="#myModal">
        Write review
        </a>
    </div>
    </div>
    <div class="mb-4">
     <form>
     <span class="input-group add-to-cart shadow-custom">
     <div class="input-group-prepend">
     <span class="input-group-text font-weight-bold px-3 btn btn-block price">
        ${{ product.price }}
    </span>
    </div>
    <span id="minus" class="input-group-text button_minus px-4">
        -
    </span>
    <input type="number" value="1" class="form-control text-center px-3">
    <span id="plus" class="input-group-text button_plus px-4">
    +
    </span>
         <div class="input-group-append">
          <button class="btn btn-danger px-4 reduce_padding" type="submit" data-toggle="tooltip" data-placement="top" title="Add to cart">
            <i class="fas fa-shopping-cart"></i>
          </button>
          </div>
    </span>
    </form>
   </div>
  </div>
 </div>
</div>
    <!-- MODAL -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Write your review</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <form method="post">

                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="bg-grey">
                            <div class="text-center pt-2">
                                Rating:
                                    {{ review_form.rating }}
                            </div>
                    <hr class="m-0">
                    <div class="input-field text-center p-2">
                        {{ review_form.text }}
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="submit">Confirm</button>
        </div>
        </form>
    </div>
    </div>
</div>
{% endblock content %}