{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="card shadow-custom border-0 col-lg-7 mx-auto mb-3">
    <h3 class="py-2 font-weight-bold text-grey text-center">
        Delivery information:
    </h3>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">First name</label>
                    {{ order_form.first_name }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Last name</label>
                    {{ order_form.last_name }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Email</label>
                    {{ order_form.email }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Phone number</label>
                    {{ order_form.telephone }}
                </div>
            </div>
        </div>
        <hr class="mt-0">
        <div class="row">
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Address</label>
                    {{ order_form.address }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Postal code</label>
                    {{ order_form.postal_code }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field mb-0">
                    <label class="text-muted">City</label>
                    {{ order_form.city }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field mb-0">
                    <label class="text-muted">Country</label>
                    {{ order_form.country }}
                </div>
            </div>
        </div>
        <hr>
        <h4 class="py-2 font-weight-bold text-grey">
            Transport:
        </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="radiobtn">
                    <input type="radio" id="id_transport_0" name="transport"
                           value="Courier delivery" amount="{{ transport_cost }}"
                           checked onclick="setTotalCost()"/>
                    <label for="id_transport_0">Courier delivery
                        <span class="text-danger float-right pr-3 font-weight-bold">${{ transport_cost }}</span>
                    </label>
                </div>
                <div class="radiobtn">
                    <input type="radio" id="id_transport_1" name="transport"
                           value="Recipient pickup" amount="free"
                           onclick="setTotalCost()"/>
                    <label for="id_transport_1">Recipient pickup
                        <span class="text-green float-right pr-3 font-weight-bold">
                            free
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="input-field">
            <label class="text-muted">Note</label>
            {{ order_form.note }}
        </div>
        <h4 class="py-2 font-weight-bold text-grey">Price total:
            <span id="order-total" class="text-danger float-right">
            </span>
        </h4>

        <div class="col-lg-7 mx-auto mb-3">
            <div class="row justify-content-end">
                <div class="col-lg-8 px-0">
                    <div class="btn-group d-flex">
                        <a href="{% url 'listings:product_list' %}" class="btn btn-warning shadow-custom col">
                            Back to shop
                        </a>
                        <button type="submit" class="btn btn-danger shadow-custom col">
                            Create order
                        </button>
                    </div>
                </div>
            </div>
        </div>
</form>
</div>
{% endblock content %}
